body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(38, 37, 37);
}

.container {
    background-color: #355f79;
    background-image: linear-gradient(135deg, #204054 10%, #9c9aa0 22%);
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;

}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #473d7b;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0e3157;
}

#message {
    margin-top: 10px;
    font-weight: bold;
}